.statistics {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
   
    
}

li {
    list-style-type: none;
    
}


.statlist {
    
    display: flex;
   margin: auto;
     padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 300px;
    
    
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
   
    
}
.item:not(:last-child) {
margin-right: 30px;
}

.label {
    padding-top: 10px;
    padding-bottom: 10px;
}

.percentage {
    font-size: large;
    font-weight: bold;
}
