.transactionHistory {
    border: 1px solid #ccc;
    width: 500px;
    align-items: center;
    border-collapse: collapse;
}

td {

    border: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

th {
    border: 1px solid grey;
}

table tr:nth-child(2n) {
    background-color: rgb(171, 230, 253);
}

table th {
    background-color: rgb(25, 25, 255);
    text-align: center;
    color: azure;
}